/* ვინაიდან ბევრი ძალიან ცოტა რამაა გასასტილი ყველაფერს აქ ვათავსებ */
/* common css */
.centered{
  text-align: center;
}
.App{
  width:80%;
  margin: auto;
}
/* Home */
.homeContainer h1{
  font-size: 30px;
}
.homeContainer h3{
  font-size: 22px;
}
.homeContainer p{
  font-size: 18px;
}
.homeContainer button{
  padding: 50px 150px;
  background-color: rgb(253, 134, 87);
  font-size: 50px;
  transition: 0.3s;
}
.homeContainer button:hover{
  background-color:rgb(251, 111, 55);
  color: rgb(70, 70, 70);
  cursor: pointer;
}
/* FileUploader */
.fileUploader{

}