/* ვინაიდან ბევრი ძალიან ცოტა რამაა გასასტილი ყველაფერს აქ ვათავსებ */
/* common css */
.centered{
  text-align: center;
}
.App{
  width:80%;
  margin: auto;
}
/* Home */
.homeContainer h1{
  font-size: 30px;
}
.homeContainer h3{
  font-size: 22px;
}
.homeContainer p{
  font-size: 18px;
}
.homeContainer button{
  padding: 20px 80px;
  background-color: rgb(253, 134, 87);
  font-size: 50px;
  transition: 0.3s;
}
.homeContainer button:hover{
  background-color:rgb(251, 111, 55);
  color: rgb(70, 70, 70);
  cursor: pointer;
}
/* FileUploader */
.fileUploader{
  width: 320px;
  padding: 20px;
  margin: auto;
}
.inputWrapper{
  margin: 30px 0;
}
.inputWrapper label{
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}
.inputWrapper input{
  width: 100%;
  font-size: 22px;
}
.inputBtn{
  max-width:100px;
  margin: auto;
}

.links a{
  display: block;
  font-size: 20px;
  color: black;
  transition: 0.3s;
}
.links a:hover{
  cursor: pointer;
  color:red;
}
